<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562672075206-sdrn2l7q5k776pbkjd27fab79q7ooikf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562672075206-sdrn2l7q5k776pbkjd27fab79q7ooikf</string>
	<key>API_KEY</key>
	<string>AIzaSyDjvoKGuMd4EZBgkmAjOtWr_27gMjkbff8</string>
	<key>GCM_SENDER_ID</key>
	<string>562672075206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>curso-flutter-avanzado-23794</string>
	<key>STORAGE_BUCKET</key>
	<string>curso-flutter-avanzado-23794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562672075206:ios:2cc4dda3278a04246b32c7</string>
</dict>
</plist>